<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<style>
body {
	  background-image: url('/images/groupStudents.jpg');
	    background-repeat: no-repeat;
	    background-attachment: fixed !important;
	    background-attachment: initial;
		
	
	    
	    background-position: center, center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	
	
	  width:100%;
	}

</style>
<script>
 function getStudentId(studentid) {
    window.location.href="/changeCurrentStudentDiscipline?studentId="+studentid
    			
    }
 </script>
</head>
<body>
<div th:replace="header :: header"> </div>
	<div class="container text-center">
    
	    <div>
	        <h1>List of Students</h1>
	    </div>
	     
	    <div>
	        <table class="table table-striped table-bordered">
	            <thead class="thead-dark">
	                <tr>
	                    <th>First Name</th>
	                    <th>Last Name</th>
	                    <th>course</th>
	                    <th>change</th>
	                    
	                </tr>
	            </thead>
	            <tbody  >
	                <tr th:each="Student,index: ${listStudents}">
	                    <td th:text="${Student.firstName}">First Name</td>
	                    <td th:text="${Student.lastName}">Last Name</td>
	                    <td th:text="${Student.course}">course</td>
	                    
	                    <td>
	                    <button th:onclick="'getStudentId('+${Student.id}+')'">Edit</button>
	                    
	                    </td>
	                    
	                </tr>
	                 
	            </tbody>
	        </table>
	        
	    </div>
	</div>
		                		  
            
</body>
</html>