<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Students and disciplines</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<style>
body {
	  background-image: url('/images/topDisciplines.jpg');
	    background-repeat: no-repeat;
	    background-attachment: fixed !important;
	    background-attachment: initial;
	    background-position: center, center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    width:100%;
	 }
#cooltable{background-color:black; opacity:75%}
.table tr{color:white}
</style>
</head>
<body>
<div th:replace="header :: header"> </div>
<div class="container text-center">
	    <div>
	        <h1>Top 3 disciplines with enrolled students </h1>
	    </div> 
	    <div>
	        <table id="cooltable" class="table table-striped table-bordered">
	            <thead class="thead-dark">
	                <tr>
	                    <th>Discipline</th>
	                    <th>Students</th>
	                    
	                </tr>
	            </thead>
	            <tbody  >
	                <tr th:each="view: ${CurrentView}">
	                    <td th:text="${view.disciplineName}">Discipline</td>
	                    <td th:text="${view.numberStudents}">Students</td>
					    
					    
	                </tr>
	                 
	            </tbody>
	        </table>
	        
	    </div>
	</div>
</body>
</html>